

svg .titles {
  font-size: 100%;
  font-family: "Abel", sans-serif;
  font-weight: bold;
}

.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

sup, sub {
line-height: 0;
}

q:before {
content: "â€œ";
}

q:after {
content: "â€";
}

blockquote:before {
position: absolute;
left: 2em;
}

blockquote:after {
position: absolute;
}

#circle circle {
fill: none;
pointer-events: all;
}

.group path {
  fill-opacity: 0.9;
}

.ribbons path {
  fill-opacity: 0.6;
}

#container {
  width: 90%;
}

#groups {
}
